@import url('https://fonts.googleapis.com/css?family=Cairo|Open+Sans')

$fonthead = 'Cairo', sans-serif
$fontbody = 'Open Sans', sans-serif
$green = #2BBBAD
$black = #131313
$white = #fcfcfc
$lightgrey  = #EDEEED

html, body
  font-size 18px
  font-family $fontbody
  color $black
  background $white
  margin 0
  padding 0

a
  text-decoration none

p
  line-height 1.5

h1, h2, h3, h4, h5, h6
  font-family $fonthead
  font-weight 600

h1
  font-size 2rem

h2
  font-size 1.6rem

h3
  font-size 1.4rem

h4
  font-size 1.2rem
