// @import '_normalize.styl'
@import '_general.styl'
@import '_animations.styl'

.navbar
  border-radius 0

#main
  height calc(100vh - 61px)
  display flex
  align-content center
  flex-wrap wrap

.title
  font-size 4rem
  margin-bottom 2rem
